                        /* .body {
    background: url(./bc.jpg);
    background-size: 100%;
} */
                    
                    .phone {
                        width: 30%;
                    }
                    
                    .row,
                    .containar {
                        position: relative;
                        text-align: center;
                    }
                    
                    .logoimg {
                        width: 100%;
                        height: 70%;
                    }
                    .centered {
                                position: absolute;
                                bottom: 50px;
                                right: 140px;
                                font-size: 20px;
                                color: white;
                                background-color: rgb(74, 178, 226);
                            }
                    
                    #h1 {
                        font-size: 30px;
                    }
                    
                    .cart {
                        position: relative;
                        text-align: right;
                        margin-right: 20%;
                        margin-left: 10%;
                    }
                    
                    .btn,
                    .pur,
                    .pur2,
                    .allP1,
                    .cart1,
                    .remove1 {
                        background: linear-gradient(to bottom right, #c6dfe6, #61a0c5);
                        border-radius: 20px;
                        cursor: pointer;
                        font-size: 16px;
                        font-family: 'Open Sans';
                        font-weight: 600;
                        color: #202020;
                        padding: 15px;
                        text-align: center;
                    }
                    
                    .pur {
                        margin-left: 20%;
                    }
                    
                    .pur2 {
                        margin-left: 10%;
                    }
                    
                    .remove1 {
                        background: rgb(219, 69, 69);
                        color: white;
                        width: 100px;
                        margin-left: 10%;
                    }
                    
                    #grid-container3,
                    #grid-container1,
                    #grid-container2 {
                        display: grid;
                        grid-column-gap: 10px;
                        grid-row-gap: 20px;
                        grid-template-columns: auto auto;
                        padding: 0px;
                    }
                    
                    .img1 {
                        width: 100px;
                    }

                    
                    .phone {
                        width: 50%;
                    }
                    
                    .cart-row {
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: 300px;
                        grid-column-gap: 10px;
                        grid-row-gap: 20px;
                    }
                    
                    .grid-item {
                        background-color: rgb(255, 255, 255);
                        border: 0;
                        padding: 20px;
                        font-size: 30px;
                        text-align: center;
                    }
                    
                    .formCart {
                        background-color: rgba(203, 233, 175, 0.726);
                        border-radius: 20px;
                        font-family: 'Open Sans';
                    }
                    
                    .cart-item {
                        /* margin: auto; */
                        width: 90%;
                        height: 70%;
                        display: flex;
                        font-size: 17px;
                        justify-content: space-between;
                        align-items: center;
                        background-color: rgba(203, 233, 175, 0.726);
                        border: 0;
                        /* padding: 5px; */
                        text-align: center;
                    }
                    
                    .cart-items {
                        background-color: rgba(203, 233, 175, 0.726);
                        border: 0;
                        /* padding: 5px; */
                        font-size: 20px;
                        text-align: center;
                        margin: auto;
                        width: 90%;
                        height: 50%;
                        text-align: left;
                    }
                    
                    .itemColumn {
                        margin-left: 5%;
                        font-size: 30px;
                        font-weight: 900;
                        color: #202020;
                    }
                    
                    .model {
                        margin-left: 10%;
                        font-size: 30px;
                        font-weight: 900;
                        color: #202020;
                    }
                    
                    .pricelColumn {
                        margin-left: 16%;
                        font-size: 30px;
                        font-weight: 900;
                        color: #202020;
                    }
                    
                    .cartColumn {
                        margin-left: 0%;
                        font-size: 30px;
                        font-weight: 700;
                        color: black;
                    }
                    
                    form.example input[type=text] {
                        padding: 10px;
                        font-size: 17px;
                        border: 1px solid grey;
                        float: left;
                        width: 80%;
                        background: #f1f1f1;
                    }
                    
                    form.example button {
                        float: left;
                        width: 20%;
                        padding: 10px;
                        background: #2196F3;
                        color: white;
                        font-size: 17px;
                        border: 1px solid grey;
                        border-left: none;
                        cursor: pointer;
                    }
                    
                    form.example button:hover {
                        background: #0b7dda;
                    }
                    
                    form.example::after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                    
                    input[type=text],
                    select {
                        width: 100%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        display: inline-block;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                    }
                    
                    input[type=submit] {
                        width: 100%;
                        background-color: #4CAF50;
                        color: white;
                        padding: 14px 20px;
                        margin: 8px 0;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                    
                    input[type=submit]:hover {
                        background-color: #45a049;
                    }
                    
                    .info {
                        border-radius: 5px;
                        background-color: #f2f2f2;
                        padding: 20px;
                    }
                    
                    .hidden-items,
                    .hidden-info {
                        display: none;
                    }
                    
                    @media screen and (min-width:800px) {
                        #grid-container3,
                        #grid-container1,
                        #grid-container2 {
                            grid-template-columns: auto auto auto;
                        }
                        .logoimg {
                            width: 100%;
                          
                        }
                         .centered {
                                    position: absolute;
                                    bottom: 250px;
                                    right: 370px;
                                    font-size: 120px;
                                    color: white;
                                    background-color: rgb(74, 178, 226);
                                }
                        #h1 {
                            font-size: 60px;
                        }
                        .grid-item {
                            background-color: rgb(255, 255, 255);
                            border: 0;
                            padding: 20px;
                            font-size: 30px;
                            text-align: center;
                        }
                        .img1 {
                            width: 250px;
                        }
                        .phone {
                            width: 50%;
                        }
                        .cart {
                            margin-right: 70%;
                            margin-left: 5%;
                        }
                        .btn,
                        .pur,
                        .pur2 {
                            font-size: 30px;
                            font-weight: 900;
                            color: #202020;
                            padding: 35px;
                        }
                        .pur {
                            margin-left: 20%;
                        }
                        .pur2 {
                            margin-left: 30%;
                        }
                        .cart-item {
                            background-color: rgba(203, 233, 175, 0.726);
                            margin: auto;
                            width: 90%;
                            height: 70%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 25px;
                        }
                        .cart-items {
                            background-color: rgba(203, 233, 175, 0.726);
                            border: 0;
                            padding: 20px;
                            font-size: 30px;
                            text-align: center;
                            margin: auto;
                            width: 90%;
                            height: 80%;
                            text-align: left;
                        }
                        .row,
                        .containar {
                            position: relative;
                            text-align: center;
                        }
                        .itemColumn {
                            margin-left: 5%;
                            font-size: 40px;
                            font-weight: 900;
                            color: #202020;
                        }
                        .model {
                            margin-left: 17%;
                            font-size: 40px;
                            font-weight: 900;
                            color: #202020;
                        }
                        .pricelColumn {
                            margin-left: 24%;
                            font-size: 40px;
                            font-weight: 900;
                            color: #202020;
                        }
                        .cartColumn {
                            margin-left: 5%;
                            font-size: 30px;
                            font-weight: 700;
                            color: black;
                        }
                        .remove1 {
                            background: rgb(219, 69, 69);
                            color: white;
                            width: 200px;
                        }
